/* Footer + Animation */
.footer_copyright{
    // position: absolute;
    text-align: center;
    font-size: 20px;
    text-align: center;
    color:yellow;
    
   }
   #footer{
    // background:url('recycle.png')  center no-repeat;
    width:100%;
    display: block;
    bottom:0;
    height: 20%;
   }
   
//    -webkit-animation: glow 1s ease-in-out infinite alternate;
//     -moz-animation: glow 1s ease-in-out infinite alternate;
//     animation: glow 1s ease-in-out infinite alternate; 
   
//     @-webkit-keyframes glow {
//     from {
//       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #32cd32, 0 0 40px #32cd32, 0 0 50px #32cd32, 0 0 60px #32cd32, 0 0 70px #32cd32;
//     }
//     to {
//       text-shadow: 0 0 20px #fff, 0 0 30px #7fff00, 0 0 40px #7fff00, 0 0 50px #7fff00, 0 0 60px #7fff00, 0 0 70px #7fff00, 0 0 80px #7fff00;
//     }
//    } 