/* Logo Area */
.logo{
    margin: 30px;
    height:200px;
    max-width: 1100px;
    padding:20px;
    border-radius:50%;
    background-color: rgba(0, 0, 0, 0.24);
    
 }
 #logo_wrapper{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
   //  background:url('green.png')  center no-repeat;
    
 }
 