/* Universal */
*{
    box-sizing: border-box;
    
}
h2{
   color:yellow;
   border-bottom: dotted white 7px;
   margin-bottom:-5px;
}
h3{
   color:yellow;
}
html{
   background-color: #228b22;
   font-family: 'Fredoka One', cursive;
   color:white;
//    background:url('leaf.jpg') center no-repeat;
}
hr{
margin-left:30px;
margin-right:30px;
}